
.image-video-hover:not(.image-video-hover--editor) {
    position: relative;
    display: block;
    line-height: 0;
}

.wp-block-bergallblocks-image-video-hover {
    display: block;
    width: 100%;
   
}

.wp-block-bergallblocks-image-video-hover * {
    width: 100%;
}

:not(.image-video-hover--editor) .image-video-hover__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

:not(.image-video-hover--editor) .image-video-hover__video.is-visible {
    opacity: 1;
}


@media (hover: hover) {
    :not(.image-video-hover--editor).image-video-hover:hover .image-video-hover__video {
        opacity: 1;
        transition: all 0.3s ease;
        
    }
}

@media (hover: none) {
    :not(.image-video-hover--editor).image-video-hover {
        cursor: pointer;
    }

    :not(.image-video-hover--editor).image-video-hover__video {
        opacity: 1;
    }

}