.TheHeader__mobile * {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.TheHeader__mobile {
    background-color: white;
    z-index: 50;
    width: 100%;
    box-shadow: var(--wp--preset--shadow--default);
    position: absolute;
    top: 0;
    left: 00;
}

body.admin-bar .TheHeader__mobile {
    top: 32px;
}


.TheHeader__mobile a {
    text-decoration: none;
}

.TheHeader__mobile__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wp--preset--spacing--4);
    height: 72px;
    z-index: 20;
    position: relative;
}

.TheHeader__mobile__header>* {
    flex: 1;
    display: flex;
}

.TheHeader__mobile__button {
    justify-content: flex-end;
}

.TheHeader__mobile .TheHeader__mobile__phone {
    display: flex;
    justify-content: center;
    flex: 2;
}

.TheHeader__mobile .TheHeader__toggle {
    height: var(--wp--preset--spacing--10);
    width: var(--wp--preset--spacing--10);
    background-color: white;
    border: none;
    cursor: pointer;
    display: block;
}

.TheHeader__mobile .TheHeader__toggle svg {
    height: var(--wp--preset--spacing--10);
    width: var(--wp--preset--spacing--10);
    stroke: var(--wp--preset--color--blue);
}

/* TOP */
.TheHeader__mobile .TheHeader__mobile__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--wp--preset--spacing--4);
    gap: var(--wp--preset--spacing--4);
}

.TheHeader__mobile .TheHeader__mobile__top>.cta {
    display: block;
    text-align: center;
    border-radius: var(--wp--custom--arrondi);
    outline: 1px solid;
    padding: var(--wp--preset--spacing--4);
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: var(--wp--preset--color--corail);
    font-size: var(--wp--preset--font-size--2-xl);
}



/* SOCIAL SHARE */
.TheHeader__mobile .TheHeader__mobile__socialshare {
    margin-bottom: var(--wp--preset--spacing--8);
}

.TheHeader__mobile .TheHeader__mobile__socialshare>.links {
    display: flex;
    gap: var(--wp--preset--spacing--8);
    align-items: center;
}

.TheHeader__mobile__socialshare h3 {
    font-size: var(--wp--preset--font-size--sm);
    text-transform: uppercase;
    color: var(--wp--preset--color--grey);
    margin-bottom: var(--wp--preset--spacing--4);
}

.TheHeader__mobile__socialshare a {
    font-size: var(--wp--preset--font-size--2-xl);
}

.TheHeader__mobile hr {
    background: var(--wp--preset--color--grey-light);
    border: none;
    width: 100%;
    height: 1px;
    margin: var(--wp--preset--spacing--8) 0;
}

/* NAVIGUATION */
body.admin-bar .TheHeader__mobile__menu {
    max-height: calc(100vh - 72px - 32px);
}


.TheHeader__mobile__menu {
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 32px;
}

.TheHeader__mobile__menu>div {
    background-color: white;
    padding: var(--wp--preset--spacing--4) var(--wp--preset--spacing--4) var(--wp--preset--spacing--20);
}

.TheHeader__mobile__menu .menu {
    font-size: var(--wp--preset--font-size--2-xl);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.TheHeader__mobile .menu a {
    color: var(--wp--preset--color--blue);
    padding: var(--wp--preset--spacing--4) var(--wp--preset--spacing--2);
    display: flex;
    text-decoration: none;
}


.TheHeader__mobile .menu a:hover {
    background-color: #F5F5F5;
    border-radius: var(--wp--custom--arrondi);
}


.TheHeader__mobile .menu ul {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--2);
}

.TheHeader__mobile .menu .sub-menu {
    font-size: var(--wp--preset--font-size--xl);
    padding-left: var(--wp--preset--spacing--2);
}

.TheHeader__mobile .current-menu-item>a {
    opacity: 0.5;
}


.TheHeader__mobile .menu .menu-item-has-children .TheHeader__accordion__header {
    display: flex;
    align-items: center;
    width: auto;
    gap: var(--wp--preset--spacing--2);
    margin-bottom: var(--wp--preset--spacing--2);
}


.TheHeader__mobile .menu .menu-item-has-children .TheHeader__accordion__header a {
    flex: 1;
}

.TheHeader__mobile .menu .menu-item-has-children .TheHeader__accordion__toggle {
    display: flex;
    width: var(--wp--preset--spacing--10);
    height: var(--wp--preset--spacing--10);
    align-items: center;
    border-radius: 0.5rem;
    border: 2px solid var(--wp--preset--color--grey-light);
    justify-content: center;
    cursor: pointer;
    background: url('../../assets/img/chevron-down.svg') no-repeat center var(--wp--preset--color--grey-light);
    ;
}


/* PHONE */
.TheHeader__mobile .TheHeader__phone {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: var(--wp--preset--spacing--2) var(--wp--preset--spacing--4);
    /* outline: 1px solid; */
    font-size: var(--wp--preset--font-size--base);
    color: var(--wp--preset--color--corail);
    border-radius: var(--wp--custom--arrondi);
}

.TheHeader__mobile__menu .TheHeader__phone {
    font-size: var(--wp--preset--font-size--2-xl);
    width: 100%;
    justify-content: center;
    padding: var(--wp--preset--spacing--4);
}

.TheHeader__mobile[data-status="OPENED"] .TheHeader__mobile__header .TheHeader__phone {
    display: none;
}

/* interactivité */


.TheHeader__mobile[data-status="CLOSED"] .TheHeader__mobile__menu {
    display: none;
}

.TheHeader__mobile[data-status="CLOSED"] .TheHeader__toggle__closed {
    display: none;
}

.TheHeader__mobile[data-status="OPENED"] .TheHeader__toggle__opened {
    display: none;
}


.TheHeader__mobile .menu .menu-item-has-children[data-status="OPENED"] .TheHeader__accordion__toggle {
    transform: rotate(180deg);
}

.TheHeader__mobile .menu .menu-item-has-children[data-status="OPENED"] .sub-menu {
    max-height: none;
    overflow: visible;
}

.TheHeader__mobile .menu .menu-item-has-children[data-status="CLOSED"] .sub-menu {
    max-height: 0;
    overflow: hidden;
}

/* RESPONSIVE */
@media (min-width:1280px) {
    .TheHeader__mobile {
        display: none;
    }
}

@media not all and (min-width:768px) {
    body:has(.TheHeader__desktop[data-style="white"] .TheHeader__mobile) {
        padding-bottom: 100px;
    }

    body.admin-bar .TheHeader__mobile {
        top: 46px;
    }

}

@media not all and (min-width:1280px) {

    body {
        padding-top: var(--wp--preset--spacing--10);
    }
}