:has(body .TheHeader__desktop[data-style="white"]) .entry-content {
    padding-top: var(--wp--preset--spacing--10);
}

body :has(.TheHeader__desktop[data-style="transparent"]) {
    padding-top: 0;
}


.TheHeader__logo{
    max-width: 150px;
    max-height: 50px;
}


.TheHeader__desktop li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.TheHeader__desktop a, .TheHeader__desktop a:hover {
    text-decoration: none;
}

.TheHeader__desktop {
    display: block;
    z-index: 50;
    padding: 0 ;
}

/* SURHEADER */
.TheHeader__desktop .TheHeader__desktop__top {
    display: flex;
    justify-content: end;
    gap: var(--wp--preset--spacing--4);
    padding: var(--wp--preset--spacing--6) 0 var(--wp--preset--spacing--4) 0;
}

.TheHeader__desktop .TheHeader__desktop__top a {
    color: var(--wp--preset--color--black);

}

.TheHeader__desktop .TheHeader__desktop__top a:is(:hover, :focus) {
    color: var(--wp--preset--color--corail) !important;
}

.TheHeader__desktop .TheHeader__desktop__top svg {
    height: 1rem;
}

.TheHeader__desktop__phone {
    font-weight: bold;
}

/* CARTOUCHE - NAV */
.TheHeader__desktop .TheHeader__cartouche {
    padding: 0 0 var(--wp--preset--spacing--2);
}

.TheHeader__cartouche__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TheHeader__desktop nav#menu-desktop {
    display: flex;
    gap: var(--wp--preset--spacing--4);
    align-items: baseline;
}

.TheHeader__desktop nav#menu-desktop .menu {
    align-items: center;
    display: flex;
    padding: 0;
}

.TheHeader__desktop nav#menu-desktop ul {
    padding: var(--wp--preset--spacing--4);
    display: flex;
    gap: var(--wp--preset--spacing--4);
}


.TheHeader__desktop nav#menu-desktop ul li {
    position: relative;
    z-index: 10;
}

.TheHeader__desktop nav#menu-desktop .menu-item-has-children>ul.sub-menu {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--wp--preset--spacing--4);
    border-radius: var(--wp--custom--arrondi);
    opacity: 0;
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: var(--wp--custom--transition--fast);
    padding: 0 var(--wp--preset--spacing--4);
}


.TheHeader__desktop nav#menu-desktop .menu > li.menu-item-has-children:hover > .sub-menu {
    opacity: 1;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
    display: block;
    transform: translateY(var(--wp--preset--spacing--2));
}

.TheHeader__desktop nav#menu-desktop .menu-item-has-children:hover>ul.sub-menu{
    max-height: 100vh;
    padding: var(--wp--preset--spacing--4);
}

.TheHeader__desktop nav#menu-desktop .menu-item-has-children>ul.sub-menu .sub-menu {
    position: relative;
    padding: 0 0 0 0.5rem;
    box-shadow: none;
    z-index: 30;
    opacity: 1;
    transform: 0;
    max-height: 100%;
}



.TheHeader__desktop nav#menu-desktop ul.menu li {
    padding-bottom: var(--wp--preset--spacing--2);
}

.TheHeader__desktop ul li:not(.cta) a {
    display: block;
    background-color: white;
    color: #000;
}

.TheHeader__desktop nav#menu-desktop .menu-item-has-children>a {
    display: flex;
    align-items: baseline;
    gap: var(--wp--preset--spacing--2);
    position: relative;
}

.TheHeader__desktop nav#menu-desktop .menu-item-has-children>a::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background-image: url("../../assets/img/chevron-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(var(--wp--preset--spacing--1));
}

.TheHeader__desktop .current-menu-item>a {
    opacity: 0.5;
}



/*  */
.TheHeader__desktop nav#menu-desktop ul.menu li a {
    border-radius: 0.5rem;
    padding: 0.75rem;
}

.TheHeader__desktop nav#menu-desktop ul.menu li a:hover {
    background-color: #e5e7eb;
}

.TheHeader__desktop nav#menu-desktop .menu ul.sub-menu li a {
    color: #000;
}

.TheHeader__desktop[data-style="white"] {
    background-color: white;
}


/*  TRANSPARENT */
.TheHeader__desktop[data-style="transparent"] {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.TheHeader__desktop[data-style="transparent"] a {
    color: white;
}

.TheHeader__desktop[data-style="transparent"] a:hover {
    color: #000;
}

.TheHeader__desktop[data-style="transparent"] nav#menu-desktop .menu-item-has-children>a::after {
    background-image: url("../../assets/img/chevron-down-white.svg");
}

.TheHeader__desktop[data-style="transparent"] nav#menu-desktop .menu-item-has-children>a:hover::after {
    background-image: url("../../assets/img/chevron-down.svg");
}

.TheHeader__desktop[data-style="transparent"] .TheHeader__cartouche>div {
    background-color: transparent;
}

.TheHeader__desktop[data-style="transparent"] ul:not(.sub-menu) li a {
    background-color: transparent;
    color: white;
}

.TheHeader__desktop[data-style="transparent"] ul:not(.sub-menu) li a:hover {
    color: var(--wp--preset--color--black);
}

/* BOUTON */
.TheHeader__desktop .is-style-important a {
    font-size: var(--wp--preset--font-size--base) !important;
    margin: 0 !important;
    top: -1rem !important;
}

/* RESPONSIVE */
body.admin-bar .TheHeader__desktop {
    top: 32px;
}

body:has(.TheHeader__desktop[data-style="white"]) .TheHeader {
    padding-bottom: 50px;
}

@media not all and (min-width:1280px) {
    .TheHeader__desktop {
        display: none;
    }
}