

.circle-text-container ,
.wp-block-bergallblocks-circle-text {
    width: fit-content;
}



.circle-text-wrapper {
    overflow: hidden;
    width: fit-content;

    /* border: 5px solid goldenrod; */
}

.circle-text-wrapper svg {
    height: auto;
}


.circle-text-wrapper svg {
    width: max-content;
    animation: circle-text-keyframe var(--speed, 20s) linear infinite var(--direction, forwards);

}

@keyframes circle-text-keyframe {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}