.wp-block-animablocks-circle-text {
    /* min-height: 2px;
    background-color: green; */
}

.wp-block img:not([draggable]),
.wp-block svg:not([draggable]) {
    pointer-events: all;
}


.circle-text-wrapper {
    position: relative;
}

.wp-block-animablocks-circle-text.aligncenter .circle-text-svg {
    margin: auto;
    display: block;

}

.circle-text-wrapper .circle-text-svg {
    width: max-content;
    animation: circle-text-keyframe var(--speed, 20s) linear infinite var(--direction, forwards);
    z-index: 999;
    transition: scale .2s;
}

.circle-text-wrapper .circle-text-svg:hover {
    outline: 2px dotted rgb(71, 122, 197);
}

.circle-text-wrapper .drag-handle {
    opacity: .0;
    scale: .5;
    color: green;
    font-size: 45px;
    margin: -20px 0 0 -20px;
    transition: scale .2s;
    z-index: 999;
    cursor: pointer;
}
.circle-text-wrapper .drag-handle svg {
    width: 40px;
}

.circle-text-wrapper .circle-text-svg:hover + .drag-handle,
.circle-text-wrapper .drag-handle:hover {
    opacity: 1;
    scale: 1.2;
    color: rgb(69, 8, 94);
}
 


@keyframes circle-text-keyframe {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}