

.wp-block-animablocks-circle-text {
    /* min-height: 2px;
    background-color: green; */
    
}

.wp-block-animablocks-circle-text .circle-text-svg:not(:root) {
	overflow: visible;
}




.circle-text-wrapper {
    position: relative;
    width: fit-content;
}

.circle-text-wrapper .circle-text-svg {
    width: max-content;
    animation: circle-text-keyframe var(--speed, 20s) linear infinite var(--direction, forwards);

}



@keyframes circle-text-keyframe {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}