

/* Container */
.slidernav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .1rem;
    height: 100%;
}

/* Navigation */
.slidernav .navigation {
    display: flex;
    gap: 0.25rem;
    font-size: 1rem;
    justify-content: end;
}

.slidernav .navigation button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: transparent;
    border: 0;
    outline: 1px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: all 0.125s ease-in-out;
}

.slidernav .navigation button:not(.swiper-button-disabled):hover {
    background: var(--wp--preset--color--contrast);
    color: #fff;
    cursor: pointer;
}

.slidernav .navigation button:not(.swiper-button-disabled):active {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(0.95);
}

.slidernav .navigation button:not(.swiper-button-disabled):hover span {
    transition: all 0.3s ease-in-out;
}

.slidernav .swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Arrow wrappers */
.slidernav .navigation .anima-arrow-wrapper {
    display: flex;
    align-items: flex-start;
}

.slidernav .navigation .anima-arrow-wrapper .anima-arrow {
    width: 2rem;
}

.slidernav .navigation .anima-arrow-wrapper.anima-arrow-right .anima-arrow {
    transform: translate(-50%, 0);
}

.slidernav .navigation .anima-arrow-wrapper.anima-arrow-left .anima-arrow {
    transform: translate(50%, 0);
}

.slidernav .navigation button:not(.swiper-button-disabled):hover .anima-arrow-left .anima-arrow {
    transform: translate(-50%, 0);
}

.slidernav .navigation button:not(.swiper-button-disabled):hover .anima-arrow-right .anima-arrow {
    transform: translate(50%, 0);
}

/* Pagination */
.slidernav .pagination {
    display: flex;
    gap: .25rem;
}

.slidernav .pagination-bullet,
.slidernav .swiper-pagination-bullet {
    display: inline-flex;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: var(--wp--preset--color--contrast);
    opacity: 1;
    margin: 0 !important;
    gap: 1rem;
}

.slidernav .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    border-radius: 50%;
}
