.wp-block-bergall-slider-simple {
    margin: 4rem 0;
}

body :has(.wp-block-bergall-slider-simple) {
    overflow-x: hidden !important;
}

.wp-block-bergall-slider-simple .swiper-container {
    position: relative;
}

.wp-block-bergall-slider-simple .swiper-wrapper {
    gap: 1rem;
}

.wp-block-bergall-slider-simple .swiper-slide img {
    width: 100%;
    height: auto;
}

.wp-block-bergall-slider-simple .swiper-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

/*  */
.wp-block-bergall-slider-simple .navigation {
    display: flex;
    gap: 0.5rem;
    font-size: 1rem;
    justify-content: end;
}

.wp-block-bergall-slider-simple .navigation>div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--wp--preset--color--contrast);
    border-radius: 50%;
    animation: all 0.3s ease-in-out;
}
.wp-block-bergall-slider-simple .navigation>div:hover {
    background: var(--wp--preset--color--contrast);
    color: #fff;
}
.wp-block-bergall-slider-simple .navigation>div:active {
    background: var(--wp--preset--color--contrast);
    color: #fff;
}
.wp-block-bergall-slider-simple .navigation>div:focus {
    background : red;
    color: #935353;
}

.wp-block-bergall-slider-simple .navigation>div:focus-visible {
    background: var(--wp--preset--color--contrast);
    color: #fff;
}



/*  pagination */
.wp-block-bergall-slider-simple .swiper-pagination {
    display: inline-flex;
    gap: 0.25rem;
}

.wp-block-bergall-slider-simple .swiper-pagination-bullet {
    gap: 1rem;
    display: inline-flex;
    background: var(--wp--preset--color--contrast);
    ;
    opacity: 1;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

.wp-block-bergall-slider-simple .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
    border-radius: 50%;
}