
body :has(.wp-block-bergall-slider-simple) {
    overflow-x: hidden !important;
}

.wp-block-bergall-slider-simple .swiper-container {
    position: relative;
}

.wp-block-bergall-slider-simple .swiper-wrapper {
    gap: 1rem;
}

.wp-block-bergall-slider-simple .swiper-slide img {
    width: 100%;
    height: auto;
}
