.marquee-container a {
    display: block;
    text-decoration: none;
}

.marquee-container:hover :is(a) {
    opacity: 0.9;
}

.marquee-container .marquee-wrapper {
    overflow: clip;
    width: 100%;

}

.marquee-container .marquee-wrapper.fadeout-horizontal {
    mask-image: linear-gradient(to right,
            transparent,
            black 5rem,
            black calc(100% - 5rem),
            transparent);
}


.marquee-container .marquee-content:is(.--preview) .block-editor-block-list__layout {
    border: 1px dashed #dedede;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}


.marquee-wrapper .marquee-content:not(.--preview) {
    width: max-content;
    animation: marquee-scroll var(--speed, 10s) linear infinite var(--direction,
            forwards);
}

.marquee-content:not(.--preview),
.marquee-container .marquee-content:not(.--preview) .block-editor-block-list__layout,
.marquee-container .marquee-content:not(.--preview)>* {
    display: flex;
    align-items: baseline;
    height: auto;
    gap: 1rem;
}


/* Animation */
@keyframes marquee-scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

/* EDITOR */

.marquee-container-editor {
    padding: .5rem;
    border: 2px dashed #dedede;
    border-radius: 1rem;
}

.marquee-container-editor .marquee-wrapper {
    overflow: hidden !important;
}

.marquee-container-editor::before {
    content: "Anima - bandeau défilant";
    position: absolute;
    top: 0;
    left: 50%;
    font-size: .75rem;
    transform: translate(-50%, 0);
    color: white;
    background-color: #999;
    padding: .1rem .25rem;
    font-family: 'Courier New', Courier, monospace;
    pointer-events: none;
    border-radius: 0 0 .25rem .25rem;
}