.wp-block-anima-slider-image {
    position: relative;
}

.bb-slider-image {
    overflow: hidden;
    width: auto;
}

.wp-block-anima-slider-image .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.wp-block-anima-slider-image img {
    line-height: 0;
}