.animated-text {
    border: 2px dashed #dedede;
    border-radius: 1rem;
    /* padding: 1rem; */
    line-height: auto;
    background: transparent;
}

.block-editor-block-list__block.is-selected .animated-text {
    border: 2px dashed blue;
}

.animated-text span {
  display: inline-block;
}