
@use '../slider-navigation/style.scss'; //navigation
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';


body:not(.wp-admin) :has(.wp-block-animablocks-slider-simple) {
    overflow: hidden  !important;
}
.wp-block-animablocks-slider-simple {

    & .swiper-container {
        position: relative;
    }

    & .swiper-slide img {
        width: 100%;
        height: auto;
    }

    // & .swiper-wrapper{
    //     display: flex;
    // }

}