/* style par défaut */
.wp-block-animablocks-number-increment-animation {
    border: 2px dashed #dedede;
    border-radius: 1rem;
}


.wp-block-animablocks-number-increment-animation::before {
    content: "Anima - Animation d'un nombre ";
    position: absolute;
    top: 0;
    left: 50%;
    font-size: .75rem;
    transform: translate(-50%, 0);
    color: white;
    background-color: #999;
    padding: .1rem .25rem;
    font-family: 'Courier New', Courier, monospace;
    pointer-events: none;
    border-radius: 0 0 .25rem .25rem;
}